/*
    Baground Color :         #FF9933
    Title Color :            #cc3300
    Text Color :             #cc3300
    Text Dark Color :        #cc3300
    Table Heading Color :    #cc3300
    Table Alternate Color :  #cc3300
*/

body {
    background-color: #FF9933;
    color: black;
    font-family: "open sans", Arial, Helvetica, Sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    margin: 0;
}